.jumbotron
	%img{:align => "LEFT", :alt => "unlock.png", :src => "http://findicons.com/files/icons/2773/pictonic_free/128/prog_rails.png"}
	.h1 Seek Rails

	%br
	%hr
	%br
	%br

	- @all_posts.each do |p|
		.panel.panel-primary
			.panel-heading
				%h10.panel-title= link_to p.title, post_path(p)
				%h5= "Published #{p.created_at}"
			.panel-body= truncate(p.body, length: 50)
